<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card" ng-repeat="incident in incidents">
      <div class="item item-divider">Incedents</div>
      <div class="item item-body">
        <div>
          <p>{{ incident.type | number }}</p>
          <p>{{ incident.name }}</p>
          <p>{{ incident.time | date }}</p>
          <p>{{ incident.description }}</p>
          <p>{{ incident.comment }}</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
